
<h3>Contacts</h3>
<p>Listing:</p>
<ul>
  
  <% @@rolodex.contacts.each do |contact| %>
  <li><%= contact.first_name %> <%= contact.last_name %> <%= contact.email%> <%= contact.id%> </li>
  <% end %>

  <li><a href="/contacts/new">Add a contact</a></li>
</ul>
<p>

<p><a href='/crm_page'>Click here</a> to go back to the CRM main page! </p>

