<header>
	<h3><br><br>YEEY! Welcome to <%= @crm_app_name %>!</h1>
</header>

<p>Main menu</p>
<ul>
	<li><a href="/contacts">View all contacts</a></li>
	<li><a href="/contacts/new">Create a new contact</a></li>

	<!-- <li><a href="/contact_details">View one contact</a></li>
	<li><a href="/edit">Update a contact</a></li>
	<li><a href="/delete">Delete a contact</a></li> -->
	</ul>