<!DOCTYPE html>
<html>
<head>
	<title>Add a contact</title>
</head>
<body>
	<h2> Add a new contact below </h2>
	<form action="/" method="post">
    	<input type="text" name= "first_name">
    	<input type="text" name= "last_name">
    	<input type="text" name= "email">
    	<input type="submit" value="Add">
	</form>
</body>
</html>