<!-- Radio Buttons and Check lists -->
<!DOCTYPE html>
<html lang="en">
	<fieldset>
	<legend>Chose from</legend>
		<label>
			<input type="radio" name="genre" value="Add user">
			Add User
		</label>
		<label>
			<input type="radio" name="genre" value="Delete user">
			Delete User
		</label>
		<label>
			<input type="radio" name="genre" value="Display user">
			Display User
		</label>
		<label>
			<input type="radio" name="genre" value="Whatever user">
			Whatever user
		</label>
	</fieldset>


<fieldset>
	<legend>Chose from checkbox</legend>
		<label>
			<input type="checkbox" name="genre[]" value="Add user">
			Add User
		</label>
		<label>
			<input type="checkbox" name="genre[]" value="Delete user">
			Delete User
		</label>
		<label>
			<input type="checkbox" name="genre[]" value="Display user">
			Display User
		</label>
		<label>
			<input type="checkbox" name="genre[]" value="Whatever user">
			Whatever user
		</label>
	</fieldset>

<div class="field">
	<label for="drop_id">Drop Down List</label>
	<select name ="dropdown" id="drop_id" multiple="true">
		<option value="">Select a country</option>
		<option value="US">United States</option>
		<option value="CA">Canada</option>
		<option value="JP">Japan</option>
		<option value="VV">Un..</option>
	</select>
</div>


<!--txt area -->
<div class="field">
	<label for="description">Text Area:</label>
	<textarea name="description" id="description" cols="30" rows="10">This is a Text Area- Type text here
	</textarea>
</div>

<!-- file -->
<div>
	<label for="file_id">Poster</label>
	<input type="file" name="Poster" id="file_id">
</div>

<!-- hidden -->
<input type="hidden" name="user_id" value="99">

<button type="submit"></button>
<!-- can add an image here -->
<!-- can add h1 heading ... -->

</html>